<!-- Footer -->
<footer
  class="text-center text-lg-start text-black"
  style="background-color: rgb(201, 228, 80)"
>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Air Watch Sentinel
          </h6>
          <p>
            <b>Monitoring the world's air quality, one breath at a time.</b><br/></p>
            <p>Empowering communities with real-time air insights, fostering a healthier planet for generations to come.
          </p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a class="text-white">MDBootstrap</a>
          </p>
          <p>
            <a class="text-white">MDWordPress</a>
          </p>
          <p>
            <a class="text-white">BrandFlow</a>
          </p>
          <p>
            <a class="text-white">Bootstrap Angular</a>
          </p>
        </div>
        Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fa fa-map-marker"></i>San Fernando, South California, USA</p>
          <p><i class="fa fa-medium"></i> AirWatchSentinel@gmail.com</p>
          <p><i class="fa fa-phone"></i> + 01 234 567 88</p>
          <p><i class="fa fa-phone"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
          <!-- Facebook -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #3B5998"
             href="https://www.facebook.com"
             role="button"
             ><i class="fa fa-facebook-f"></i
            ></a>
          <!-- Twitter -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #55ACEE"
             href="https://twitter.com/home?lang=en"
             role="button"
             ><i class="fa fa-twitter"></i
            ></a>
          <!-- Google -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #DD4B39"
             href="https://www.google.com"
             role="button"
             ><i class="fa fa-google"></i
            ></a>
          <!-- Instagram -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #AC2BAC"
             href="https://www.instagram.com"
             role="button"
             ><i class="fa fa-instagram"></i
            ></a>
          <!-- Linkedin -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #0082CA"
             href="https://in.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"
             role="button"
             ><i class="fa fa-linkedin"></i
            ></a>
          <!-- Github -->
          <a
             class="btn btn-primary btn-floating m-1"
             style="background-color: #333333"
             href="https://github.com"
             role="button"
             ><i class="fa fa-github"></i
            ></a>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div
       class="text-center p-3"
       style="background-color: rgba(0, 0, 0, 0.2)"
       >
    © 2023 Copyright:
    <a class="text-white" href="#"
       >AirSentinel.Co.In</a
      >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->