.search-card {
    width: 600px;
    margin: 100vh 100vw;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .search-card:hover {
    transform: scale(1.02);
  }
  
  .mat-card-title {

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .aqi-value {
    font-size: 20px;
    font-weight: bold;
    color: rgb(25, 2, 2);
    margin-bottom: 10px;
  }
  
  .air-quality-text {
    font-size: 20px;
    color: #333;
  }



/* Styling for the search results card */
.search-card {
    max-width: 800px; /* Adjust the max-width based on your design */
    margin: 1vh 1vw; /* Center the card horizontally */
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: rgb(155, 117, 215);
  }
/* Add responsive styles here */
@media screen and (max-width: 768px) {
  .search-card {
    max-width: 90%; /* Adjust the max-width for smaller screens */
  }

  .mat-card-title {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .aqi-value {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .air-quality-text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
.title{
  color: #76dfcd;
}