<app-header></app-header>

<section class="home">
<img src="https://wallpaper.dog/large/10911588.jpg">
<div class="homecontent">
<h1>About This Project</h1>
<h2>The Air Watch Sentinel project is a non-profit project started in 1947. Its mission is to promote air pollution awareness for citizens and provide a unified and world-wide air quality information.

    The project is providing transparent air quality information for more than 130 countries, covering more than 30,000 stations in 2000 major cities.
</h2>

</div>
</section>
 